{
  "$schema": "https://json.schemastore.org/launchsettings.json",
  "profiles": {
    "RestAPI": {
      "commandName": "Project",
      "dotnetRunMessages": true,
      "launchBrowser": true,
      "launchUrl": "swagger",
      "applicationUrl": "https://localhost:7103;http://localhost:5212",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development",
        "POSTGRES_CONNECTION_STRING": "Host=;Database=;Username=;Password="
      }
    }
  }
}
